<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/bootstrap.min.css" rel="stylesheet">

        <title>Spin the Tracks: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-family: Georgia, serif" href="/"><span style="color:#E6B1F1">Spin </span><span style="color:#B7E6FF">the </span><span style="color:#FFFDD4">Tracks</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="/aboutus">About Us</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/logout">Log Out</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/passwordchange">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/dashboard">My List</a></li>

                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="/aboutus">About Us</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link active" href="/login">Log In</a></li>


                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            by Çağla Pişkinpaşa
        </footer>

    </body>

</html>

<body>

    {% if message is not none %}
<div class="alert alert-primary" role="alert" id="space">
    {{ message }}
</div>
{% endif %}

    <form action="/" method="post">
        <div id="space">
            <label for="popularity" class="form-label">Popularity:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="pop1"></div></label>
                <script>
                    pop1.addEventListener("change", change_status);
                    function change_status()
                    {
                        if (popularity.disabled === false) {
                            popularity.disabled = true;
                        } else {
                            popularity.disabled = false;
                        }
                    }
                </script>
            <p>0 to 100</p><input type="range" class="form-range" id="popularity" name="popularity" min="0" max="100" step="1" disabled="">
        </div>

        <div id="space">
            <label for="tempo" class="form-label">Tempo:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="tem1"></div></label>
            <script>
                tem1.addEventListener("change", change_status);
                function change_status()
                {
                    if (tempo.disabled === false) {
                        tempo.disabled = true;
                    } else {
                        tempo.disabled = false;
                    }
                }
            </script>
            <p>0 to 244.162</p><input type="range" class="form-range" id="tempo" name="tempo" min="0" max="244.162" step="0.001" disabled="" oninput="this.nextElementSibling.value = this.value"/><output></output>
        </div>

        <div id="space">
            <label for="valence" class="form-label">Valence:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="val1"></div></label>
            <script>
                val1.addEventListener("change", change_status);
                function change_status()
                {
                    if (valence.disabled === false) {
                        valence.disabled = true;
                    } else {
                        valence.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 1.0</p><input type="range" class="form-range" id="valence" name="valence" step="0.0001" disabled="" min="0" max="1.0">
        </div>

        <div id="space">
            <label for="danceability" class="form-label">Danceability:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="dan1"></div></label>
            <script>
                dan1.addEventListener("change", change_status);
                function change_status()
                {
                    if (danceability.disabled === false) {
                        danceability.disabled = true;
                    } else {
                        danceability.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 0.994</p><input type="range" class="form-range" id="danceability" name="danceability" step="0.001" disabled="" min="0" max="0.994">
        </div>

        <div id="space">
            <label for="energy" class="form-label">Energy:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="en1"></div></label>
            <script>
                en1.addEventListener("change", change_status);
                function change_status()
                {
                    if (energy.disabled === false) {
                        energy.disabled = true;
                    } else {
                        energy.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 1.0</p><input type="range" class="form-range" id="energy" name="energy" step="0.001" disabled="" min="0" max="1.0">
        </div>


        <div id="space">
            <label for="acousticness" class="form-label">Acousticness:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="ac1"></div></label>
            <script>
                ac1.addEventListener("change", change_status);
                function change_status()
                {
                    if (acousticness.disabled === false) {
                        acousticness.disabled = true;
                    } else {
                        acousticness.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 0.996</p><input type="range" class="form-range" id="acousticness" name="acousticness" step="0.00001" disabled="" min="0" max="0.996">
        </div>

        <div id="space">
            <label for="liveness" class="form-label">Liveness:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="liv1"></div></label>
            <script>
                liv1.addEventListener("change", change_status);
                function change_status()
                {
                    if (liveness.disabled === false) {
                        liveness.disabled = true;
                    } else {
                        liveness.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 1.0</p><input type="range" class="form-range" id="liveness" name="liveness" step="0.0001" disabled="" min="0" max="1.0">
        </div>


        <div id="space">
            <label for="instrumentalness" class="form-label">Instrumentalness:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="int1"></div></label>
            <script>
                int1.addEventListener("change", change_status);
                function change_status()
                {
                    if (instrumentalness.disabled === false) {
                        instrumentalness.disabled = true;
                    } else {
                        instrumentalness.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 1.0</p><input type="range" class="form-range" id="instrumentalness" name="instrumentalness" step="0.0001" disabled="" min="0" max="1.0">
        </div>

        <div id="space">
            <label for="speechiness" class="form-label">Speechiness:<div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="sp1"></div></label>
            <script>
                sp1.addEventListener("change", change_status);
                function change_status()
                {
                    if (speechiness.disabled === false) {
                        speechiness.disabled = true;
                    } else {
                        speechiness.disabled = false;
                    }
                }
            </script>
            <p>0.0 to 0.97</p><input type="range" class="form-range" id="speechiness" name="speechiness" step="0.0001" disabled="" min="0" max="0.97">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

{% endblock %}
