{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}

<p class="text-center fs-1 lh-sm" id="space">
    Hello music lovers!
    This website is made to recommend songs according to the criteria you chose.
    I was inspired to do this project after the week 7's lab assignment titled "songs" in CS50. Seeing how songs have many different traits to collect data on, I thought that I could use this data to
    recommend songs to people according to the criteria of their choosing. As someone who struggles finding songs like I want, I believe that this site has the potential to spread the art
    of music and have people meet with many new songs and artists.
    I hope you enjoy it!
</p>
{% endblock %}