{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

{% if message_alert is not none %}
<div class="alert alert-warning" role="alert" id="space">
    {{ message_alert }}
 </div>
{% endif %}

{% if message_success is none %}
    <form action="/passwordchange" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" autocomplete="off" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input  autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
   {% endif %}

{% if message_success is not none %}
<div class="alert alert-success" role="alert" id="space">
    {{ message_success }}
 </div>
{% endif %}
{% endblock %}
